@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.4; }

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.65rem; }

h1 {
  font-size: 1.65em;
  /* Default size === h2 */ }

p {
  margin: 0 0 0.55rem; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

a:focus {
  outline: thin dotted; }

ul,
ol,
dd {
  margin: 0;
  padding: 1rem;
  list-style: none; }

button {
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer; }

img,
video {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0; }

figcaption {
  font-size: 0.9em; }

cite {
  font-style: normal; }

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
button,
textarea,
select {
  box-sizing: border-box;
  margin: 0.25em 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  font: inherit;
  line-height: 1; }

.grid-container {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 20px 20px;
  grid-template-areas: "header header" "colors colors" "gradient gradient" "fonts fonts" "styles styles" "buttons buttons" "footer footer"; }
  @media only screen and (min-width: 600px) {
    .grid-container {
      grid-template-rows: repeat(5, auto);
      grid-template-areas: "header header" "colors colors" "gradient gradient" "fonts styles" "buttons buttons" "footer footer"; } }

.header {
  grid-area: header; }

.colors {
  grid-area: colors; }

.gradient {
  grid-area: gradient; }

.fonts {
  grid-area: fonts; }

.styles {
  grid-area: styles; }

.buttons {
  grid-area: buttons; }

.footer {
  grid-area: footer; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f2f2f2;
  color: #312f2f;
  font-size: 16px; }

a {
  color: #c2948a; }

h1,
h2 {
  font-family: "Poppins", sans-serif;
  margin-left: 0; }

h1 {
  font-size: 32px;
  font-weight: 600; }

h2 {
  font-size: 24px;
  font-weight: 500; }

ul {
  margin: 0;
  padding: 0; }

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  header h1 {
    margin-top: 0; }
  header .toggle {
    margin-top: 0.8em;
    display: flex;
    justify-content: space-between; }
    header .toggle .fas {
      font-size: 1.2em; }

section {
  background-color: #e5e5e5;
  padding: 2em;
  border-radius: 5px; }
  section h2 {
    margin-bottom: 1em; }
  section.colors .card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap; }
    @media only screen and (min-width: 900px) {
      section.colors .card-wrapper {
        flex-direction: row; } }
    section.colors .card-wrapper .card {
      background-color: #312f2f;
      color: #f2f2f2;
      margin: 0 0 1em;
      padding: 1em;
      border-radius: 3px;
      width: auto; }
      section.colors .card-wrapper .card h2 {
        margin-left: 0; }
      @media only screen and (min-width: 900px) {
        section.colors .card-wrapper .card {
          width: 25%;
          margin: 0 1em; } }
      @media only screen and (min-width: 600px) {
        section.colors .card-wrapper .card:first-of-type {
          margin-left: 0; } }
      section.colors .card-wrapper .card:nth-of-type(2) {
        background-color: #7ea8be; }
      section.colors .card-wrapper .card:nth-of-type(3) {
        background-color: #c2948a; }
      section.colors .card-wrapper .card:last-of-type {
        background-color: #f2f2f2;
        color: #312f2f;
        margin-right: 0; }
  section.gradient {
    background: linear-gradient(345deg, #c2948a 0%, #7ea8be 100%);
    color: #f2f2f2; }
  section.fonts h1 {
    margin-bottom: 0; }
  section.fonts span {
    font-size: 80px; }
  section.fonts .font-source {
    margin-top: 4em; }
    section.fonts .font-source h1,
    section.fonts .font-source p,
    section.fonts .font-source a {
      font-family: "Source Sans Pro", sans-serif; }
  section.styles .heading,
  section.styles .subheading {
    margin-bottom: 3em; }
  section.styles .heading {
    margin-top: 2em; }
  section.styles .paragraph {
    margin-bottom: 2em; }
  section.buttons .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    @media only screen and (min-width: 900px) {
      section.buttons .button-wrapper {
        flex-direction: row; } }
    section.buttons .button-wrapper button {
      min-width: 140px;
      padding: 0.8em 1.6em;
      padding-left: 0.9em;
      margin: 1em;
      color: #f2f2f2;
      font-family: "Poppins", sans-serif;
      border-radius: 3px; }
      section.buttons .button-wrapper button:hover {
        -webkit-filter: brightness(0.95);
        filter: brightness(0.95); }
      section.buttons .button-wrapper button:active {
        transform: translateY(1px); }
      section.buttons .button-wrapper button#btn-1 {
        background: #7ea8be; }
      section.buttons .button-wrapper button#btn-2 {
        background: #c2948a; }
      section.buttons .button-wrapper button#btn-3 {
        background: linear-gradient(345deg, #c2948a 0%, #7ea8be 100%); }
      section.buttons .button-wrapper button#btn-4 {
        background: none;
        border: 2px solid #7ea8be;
        color: #7ea8be; }

footer p {
  font-size: 14px;
  text-align: center; }

.fas {
  font-size: smaller;
  margin: 0 0.6em; }

/** Switch
 -------------------------------------*/
.switch {
  display: inline-block;
  font-size: 20px;
  height: 1em;
  width: 2em;
  background: #312f2f;
  border-radius: 1em; }
  .switch input {
    position: absolute;
    opacity: 0; }
    .switch input:checked + div {
      transform: translate3d(100%, 0, 0); }
  .switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #312f2f;
    border: 2px solid #f2f2f2;
    transition: all 300ms; }
